<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Craftsy</title>
</head>
<body class="home">
    <header class="home__header">
        <img src="/img/logo.png" alt="logo-craftsy">
    
        <div class="home__header--register-login">
            
                <a href="#">login</a><i class="fa-solid fa-right-to-bracket"></i>
                <a href="#">registro</a><i class="fa-solid fa-address-card"></i>
        </div>
        <div class="home__header--nav">
            <ul>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">tablets</a></li>
                <li><a href="#">Computadoras</a></li>
            </ul>
        </div>
    </header>
    
    <main class="home__main">
        <aside>
            <section class="home__main--aside-tutoriales">
                <h3>Tutoriales</h3>
                <div>
                    <img src="/img/aside-01.jpg" alt="imagen-tutorial1">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, possimus.</p>
                </div>
                <div>
                    <img src="/img/aside-02.jpg" alt="imagen-tutorial2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, possimus.</p>
                </div>
                <div>
                    <img src="/img/aside-03.jpg" alt="imagen-tutorial3">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, possimus.</p>
                </div>
                <div>
                    <img src="/img/aside-04.jpg" alt="imagen-tutorial4">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, possimus.</p>
                </div>
            </section>
            <section>
                <h3>Publicidad</h3>
                <div>
                    <img src="/img/ad-01.jpg" alt="add-1">
                    <img src="/img/ad-02.jpg" alt="add-2">
                </div>
            </section>
        </aside>
        <div>
            <div>
                <img src="/img/img-phone-01.jpg" alt="imagen-celular1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consectetur earum odit vel atque adipisci.</p>
                <a href="#">VER MÁS</a>
            </div>
            <div>
                <img src="/img/img-phone-02.jpg" alt="imagen-celular2">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consectetur earum odit vel atque adipisci.</p>
                <a href="#">VER MÁS</a>
            </div>
            <div>
                <img src="/img/img-phone-03.jpg" alt="imagen-celular3">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consectetur earum odit vel atque adipisci.</p>
                <a href="#">VER MÁS</a>
            </div>
            <div>
                <img src="/img/img-phone-01.jpg" alt="imagen-celular1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consectetur earum odit vel atque adipisci.</p>
                <a href="#">VER MÁS</a>
            </div>
            <div>
                <img src="/img/img-phone-02.jpg" alt="imagen-celular2">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consectetur earum odit vel atque adipisci.</p>
                <a href="#">VER MÁS</a>
            </div>
            <div>
                <img src="/img/img-phone-03.jpg" alt="imagen-celular3">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consectetur earum odit vel atque adipisci.</p>
                <a href="#">VER MÁS</a>
            </div>
         </div>
    </main>
    <footer class="home__footer">
        <div>
            
               <a href="">Contactanos</a>
               <a href="">Términos y condiciones</a>
               <a href="">Nuestros locales</a>
               <a href="">Ayuda</a>
           
        </div>
    </footer>
</body>
</html>